<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Sản Phẩm</title>
    <link rel="stylesheet" th:href="@{/css/desktop/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/desktop/fragments.css}"/>
    <link rel="stylesheet" th:href="@{/css/desktop/manageProduct.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap}">
</head>
</head>
<body>
    <content class="content">
        <div class="left-content">
            <div class="nav-content">
                <div th:replace="fragments/NavAdmin :: nav"></div>
            </div>
        </div>
        <div class="right-content">
            <div class="right-content-up">
                <h1>Danh Sách Sản Phẩm</h1>
            </div>
            <div class="right-content-down">
                <div class="wrapper-table">
                        <form th:action="@{/admin/manageProduct}" method="get" class="table-nav">
                            <div class="item-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input placeholder="Tìm Kiếm Sản phẩm: " name="keyword" th:value="${keyword}"> 
                                </input>
                            </div>
                            <div class="item-select">
                                <select name="categoryName"  class="select-category">
                                    <option disabled selected>Loại Sản Phẩm</option>
                                    <option th:each="c : ${categories}" th:value="${c.name}" th:text="${c.name}"  th:selected ="${categoryName == c.name}" >

                                    </option>
                                </select>
                            </div>
                            <div class="item-select">
                                <select name="status" class="select-status">
                                    <option disabled selected>Trang thái</option>
                                    <option value="true" th:selected="${status == 'true'}">Đang Bán</option>
                                    <option value="false" th:selected="${status == 'false'}">Ngừng Bán</option>
                                </select>
                            </div>
                            
                            <button class="btn-search" type="submit">
                                <i class="fa-solid fa-filter"></i>
                                Tìm Kiếm
                            </button>
                            <!-- Nút Reset -->
                            <button class="btn-reset" onclick="resetForm()" type="button">
                                <i class="fa-solid fa-trash-can"></i>
                                Xóa lọc
                            </button>
                        </form>
                    <div class="table-container">
                        <table class="manage-product">
                            <thead class="right-content-nav" style="height:40px">
                                <th>Mã Sản Phẩm</th>
                                <th>Sản Phẩm</th>
                                <th>Giá Sản Phẩm</th>
                                <th>Số Lượng</th>
                                <th>Trạng Thái</th>
                                <th>Hành Động</th>
                            </thead>
                            <tbody class="right-content-product" >
                                <th:block th:each="p : ${products.content}">
                                    <tr class="product-row">
                                        <td th:text="${p.id}" class="product-id"></td>
                                        <td >
                                            <div class="image-name-size">
                                                <div class="image-wrapper">
                                                    <img th:src="${p.imageUrl}" class="imageUrl"></img>                        
                                                </div>
                                                <div class="product-name-size">
                                                    <span th:text="${p.productName}" class="product-name"></span>
                                                    <div class="product-size">
                                                        <span th:text="${#strings.listJoin(p.variants.![size],',')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>                       
                                        <td th:data-price="${p.price}" th:text="${#numbers.formatDecimal(p.price,0,'POINT',0,'POINT') + ' VND'}" class="product-price"></td>
                                        <td th:text="${p.stock}" class="product-stock"></td>
                                        <td>
                                            <span th:style="${p.status ? 'color:green' : 'color:red'}" class="status-badge ">
                                                <i class="fa-solid fa-circle" style="font-size: 6px"></i>
                                                <span th:text="${p.status ? 'Đang Bán' : 'Ngừng Bán'}" class="product-status"></span>
                                            </span>
                                        </td>
                                        <td class="button-action ">
                                            <button class="btn-down">
                                               <i class="fa-solid fa-eye"></i>
                                                Chi Tiết 
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class ="detail-row">
                                        <td colspan="6">
                                            <div class="detail-container">
                                                <div class="detail-card">
                                                    <h4>Danh sách size và tồn kho</h4>
                                                    <table class="detail-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Size</th>
                                                                <th>Số Lượng</th>
                                                                <th>Hành Động</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="v : ${p.variants}" class="size-stock-row" th:data-id="${v.id}">
                                                                    <td>
                                                                        <span th:text="${v.size}" class="size-span"></span>
                                                                        <input type="text" class="edit-size-input" autocomplete="off">
                                                                    </td>
                                                                    <td>
                                                                        <span th:text="${v.stock}" class="stock-span"></span>
                                                                        <input type="number" class="edit-stock-input" autocomplete="off">
                                                                    </td>
                                                                    <td class="button-action-size">
                                                                        <button class="edit-size-stock" th:data-id = "${v.id}">
                                                                            <i class="fa-solid fa-pen edit"></i>
                                                                        </button>
                                                                        <button class="delete-size-stock" th:data-id = "${v.id}">
                                                                            <i class="fa-solid fa-trash-can trash"></i>
                                                                        </button>
                                                                    </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <form class="add-size-box" th:data-id="${p.id}">
                                                        <span>Thêm size mới</span>
                                                        <input type="text" placeholder="Nhập size mới" autocomplete="off" class="newSize" required >
                                                        <input type="number" placeholder="Số lượng" autocomplete="off" class="newStock" required>
                                                        <button class="btn-search-detail" type="button">Lưu</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:replace="fragments/Pagination :: pagination(${products}, ${baseUrl})"></div>   
            </div>
        </div>
    </content>
</body>
<script th:src="@{/js/manageProduct.js}"></script>
</html>